@import "reset";

:root {
    --max-width: 700px;
}

body {
    max-width: var(--max-width);
    margin: auto;
}

body,
button {
    font-family: "Poppins", sans-serif;
}

body {
    padding: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-bottom: 32px;

    img {
        width: 64px;
    }

    h1 {
        font-weight: 900;
        font-size: 2.75rem;
        text-align: center;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 20px;

    .current-month {
        min-width: 150px;
        text-align: center;
    }

    button {
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
    }
}

.calendar {
    .weekdays {
        display: grid;
        grid-template-columns: repeat(7, calc((100% - 60px) / 7));
        grid-gap: 10px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            aspect-ratio: 1 / 1;
        }
    }

    .days {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(7, calc((100% - 60px) / 7));
        width: 100%;

        .day {
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            background: white;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

            font-weight: 700;
            font-size: 1.125rem;

            position: relative;

            transition: background 0.15s ease-in-out;

            user-select: none;

            aspect-ratio: 1 / 1;

            &.padding {
                visibility: hidden;
            }

            &.hasTrackedItem {
                border-color: #74a165;
                background: #89c275;
                border-width: 2px;
                color: white;
            }

            &.currentDay {
                border-color: hsl(199, 39%, 50%);
                background: hsl(199, 39%, 61%);
                color: white;
                border-width: 2px;
            }

            .trackedItemIcon {
                position: absolute;
                bottom: -1px;
                right: -2px;

                height: 19px;
                z-index: 2;

                opacity: 0;
                transform: scale(0.1);

                transition: all 0.15s cubic-bezier(0.42, 0, 0, 2.74);

                pointer-events: none;

                &.hasTrackedItem {
                    opacity: 1;
                    transform: scale(1);
                }

                img {
                    width: 20px;
                }

                .trackedItemBadge {
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    z-index: -1;

                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;

                    background: #eb5757;

                    font-size: 10px;
                    font-weight: 300;
                    color: white;

                    opacity: 0;
                    transform: scale(0.1);

                    transition: all 0.15s cubic-bezier(0.42, 0, 0, 2.74);

                    &.manyTrackedItem {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

#config {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    background: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

    width: calc(100vw - 20px);
    max-width: var(--max-width);

    padding: 32px;

    top: 0;
    left: 0;

    overflow: visible;

    .title {
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 16px;
        text-align: center;
        line-height: 1.3;
        display: block;
    }

    .text-input {
        padding: 1rem;
        font-size: 1.25rem;
        border-radius: 8px;
        border: 1px solid #e4e4e4;
        width: 100%;
        text-align: center;
    }

    #emojiPickerButton {
        display: block;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid #e4e4e4;
        aspect-ratio: 1 / 1;
        background: transparent;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    #save {
        width: 100%;
        display: block;
        padding: 1rem;
        border-color: #74a165;
        background: #89c275;
        color: white;
        border-radius: 8px;
        border: 1px solid;
        margin-top: 32px;
        font-size: 1.25rem;
        font-weight: 700;
    }

    #emojiPickerPanel {
        display: none;

        &.open {
            display: flex;
            align-items: flex-end;
            position: fixed;
            width: 100vw;
            height: 100dvh;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.12);
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

            .EmojiPickerReact {
                border-radius: 8px 8px 0 0;
            }
        }
    }
}

.instructions {
    margin-top: 32px;
    color: rgba(0, 0, 0, 0.5);

    p {
        font-weight: 700;
        margin-bottom: 0.75em;
    }

    ul {
        padding-left: 1em;
    }

    li {
        margin-bottom: 0.25em;
    }
}

@media (min-width: 1024px) {
    .calendar .days .day {
        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.08);
        }

        &.hasTrackedItem:hover {
            background: #74a165;
        }

        &.currentDay:hover {
            background: hsl(199, 39%, 50%);
        }
    }

    nav button {
        transition: all 0.12s;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    #config {
        #emojiPickerButton {
            transition: all 0.12s;

            &:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, 0.08);
                border-color: rgba(0, 0, 0, 0.3);
            }
        }

        .text-input {
            transition: all 0.12s;

            &:hover,
            &:active {
                border-color: rgba(0, 0, 0, 0.3);
            }
        }

        #save {
            transition: all 0.12s;
            &:hover {
                cursor: pointer;
                background: #74a165;
            }
        }
    }

    .EmojiPickerReact {
        max-width: var(--max-width);
        margin-inline: auto;
        border-radius: 8px;
    }
}
